<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="juego-ranita">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `juego-ranita`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class JuegoRanita extends Polymer.Element {
      static get is() { return 'juego-ranita'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'juego-ranita'
          }
        };
      }
    }

    window.customElements.define(JuegoRanita.is, JuegoRanita);
  </script>
</dom-module>
