<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="juego-ranita">
  <template>
    <style>
      :host {
        display: inline-block;
      
      }
      :host table{
        margin-top: 3em;
      }
      :host th{
        width: 6em;
        height: 3em;
        border: 3px solid black;
        border-radius: 1em;
      }
      :host input{
        border: 2px solid black;
        border-radius: 1em;
        height: 2em;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
      :host img{
        width: 5em;
      }
      .rana{
        background: white;
        width: 7em;
        border: 3px solid black;
        border-radius: 1em;
      }
      .linea{
        margin-top: 3em;
      }
      .verde{
        background: green;
        color: white;
        width: 7em;
        border: 3px solid green;
        border-radius: 1em;
      }
    </style>
    <input placeholder="Saltos" type="number" on-keypress="saltar" maxlength="2" autofocus name="salto" value="{{saltoval::input}}" >
    <div class="linea"> 
      <input id="s1" class="verde" disabled value="RANA">
      <input id="s2" class="rana" disabled value="">
      <input id="s3" class="rana" disabled value="">
      <input id="s4" class="rana" disabled value="">
      <input id="s5" class="rana" disabled value="">
    </div>
  </template>

  <script>
    /**
     * `juego-ranita`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class JuegoRanita extends Polymer.Element {
      static get is() { return 'juego-ranita'; }
      static get properties() {
        return {
          anterior: {
            type: Number,
            value:1
          },
          contador: {
            type: Number,
            value:0
          },
          salto: {
            type: Number
          },
          saltoval: {
            type: Number
          },
          ciclo:{
            type:Object
          }
        };
      }
      frog(){
        var i=this.anterior;

        if(this.contador>0){
          var a =Polymer.dom(this.root).querySelector("#s"+i);
          a.removeAttribute("class");
          a.setAttribute('class','rana');
          a.value="";
          
          
          this.anterior++;
          i=this.anterior;
          
          if(i>5){
            i=1;
            this.anterior=1;
          }
          
          var b =Polymer.dom(this.root).querySelector("#s"+i);
          b.setAttribute('class','verde');
          b.value="RANA";
          this.contador--;
        }else{
          this.detener();
        }
      }
      saltar() {
        this.contador=this.saltoval;
        var _this = this;
        this.ciclo = setInterval(
          function(){
            _this.frog();
          }
        , 2000);
      }
      detener() {
        clearInterval(this.ciclo);
      }
    }

    window.customElements.define(JuegoRanita.is, JuegoRanita);
  </script>
</dom-module>
